<nav class="navbar" style="background-color: white;">
    <div class="container-fluid">
        <a class="navbar-brand" href="https://rockedex.com/" target="_blank">
            <img width={220} height={50} src='../assets/images/logo.svg' alt="rockedex" />
        </a>
        <div id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item" routerLink="favorites">
                    <i class="bi bi-heart-fill" role="button" style="font-size: 1em;"></i>
                </li>
            </ul>
        </div>
    </div>
</nav>