<div class="row">
    <div class="card m-2 border-0" style="width: 22rem;" *ngFor="let item of pokemons">
        <div class="row">
            <div class="col-4">
                <img src="{{ item.sprites.front_default }}" class="card-img-top" alt="pokemon">
            </div>
            <div class="col">
                <div class="card-body">
                    <div class="d-flex flex-column">
                        <label class="text-mute">{{ item.id }}</label>
                        <strong>{{ item.name }}</strong>
                    </div>
                    <div>
                        <button class="btn btn-light">Grass</button>
                        <button class="btn btn-light">Poison</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>