<h4><i class="bi bi-arrow-left-short" role="button" (click)="backClicked();"></i> Detalles</h4>
<div class="row">
    <div class="col-12 col-lg-7 d-flex justify-content-center align-items-center">
        <img width="222" height="222" src="{{ image }}" alt="pokemon">
    </div>
    <div class="col-12 col-lg-5">
        <div class="card border-0">
            <div class="card-body">
                <h5 class="card-title text-center">{{ name }}</h5>
                <div class="d-flex justify-content-center">
                    <div class="p-1 alert alert-dark ms-1" role="alert" *ngFor="let item of types">{{ item.type.name }}</div>
                </div>
                <p class="card-text">
                    {{ description }}
                </p>
                <div class="d-flex flex-column">
                    <div>
                        <strong>ID: </strong><label>{{ id }}</label>
                    </div>
                    <div>
                        <strong>Altura: </strong><label>{{ height }}</label>
                    </div>
                    <div>
                        <strong>Peso: </strong><label>{{ weight }}</label>
                    </div>
                </div>
                <button class="w-100 mt-3 btn btn-danger" [ngClass]="validateFavorites(id) ? 'd-none' : 'd-block'">AGREGAR A FAVORITOS</button>
            </div>
        </div>
    </div>
</div>