<div class="row mb-3">
    <div class="col-12 col-md-7">
        <h4>Pokemones</h4>
    </div>
    <div class="col-12 col-md-5">
        <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Busca un pokemon" aria-label="Search">
            <button class="btn btn-danger" type="submit">Buscar</button>
        </form>
    </div>
</div>
<app-card-pokemon [pokemons]="pokemons"></app-card-pokemon>
<div class="row mt-4">
    <div class="col-12 col-md-5 offset-md-4">
        <button class="w-100 btn btn-light" (click)="onScroll()" style="background-color: #E5E7EB;">Ver mas</button>
    </div>
</div>